name: "Build and Deploy Sphinx Docs to GitHub Pages"

on: push

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
          
      - name: Build HTML
        uses: ammaraskar/sphinx-action@master
        
      - name: Set up Pages
        uses: actions/configure-pages@v5
        
      - name: Upload artifacts
        uses: actions/upload-pages-artifact@v4
        with:
          path: 'docs/build/html'
  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        if: github.ref == 'refs/heads/master'
        uses: actions/deploy-pages@v4
